*{padding: 0;margin: 0;}
html{
    padding: 0;margin: 0;
}

header{
    width: 40%;
    margin:10% auto;
    overflow: hidden !important;
}
.form{
    max-width: 100%;
    z-index: 999;
    background-color: white;
    text-align: left;
    padding:25px 50px;
    border-radius: 5px;
}
.bright{
    color:black;
}
.bg-circular{
    background-color: white;
    padding:50px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 7px;
}
.bg-circular:hover{
    background-color: azure;
    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;

}
@-webkit-keyframes bg-circular
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.minimize{
    margin-top: -5%;
}

/**/
.dropbtn {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top:15px;
    right:15px;
}

.dropdown-content {
    display: none;
    margin-left: -120px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}