<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <meta charset="utf-8">
    <title>CodersBench</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
     <style>
         body{
             background: #27ae60 !important;
         }
         h2{
             color:#2ecc71 !important;
         }
      .js div#preloader {  position: fixed; left: 0; top: 0; z-index: 5000; width: 100%; height: 100%; overflow: visible; background: #27ae60 url('../1.gif') no-repeat center center; }
</style>
    <!-- Loading Flat UI -->
    <link href="../css/flat-ui.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico">

      
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="page-top" ng-app="myApp" ng-controller="UserController">
  <div id="preloader"></div>
     <h2  class="text-center">Register !</h2>
  <header>
  
     <div class="form">
      <form ng-submit="regiUser(user)" >
  <div class="form-group">
    <label for="exampleInputUserName">User Name</label>
    <input type="text" class="form-control" id="exampleInputUserName" ng-model="user.unam" placeholder="User Name" required >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword">Password</label>
    <input type="text" class="form-control" id="exampleInputPassword" ng-model="user.uid"  placeholder="Password" required >
  </div>
  <div class="form-group">
    <label for="exampleInputName">Your Name</label>
    <input type="password" class="form-control" id="exampleInputName" ng-model="user.pwd"  placeholder="Your Name" required >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="user.email" placeholder="Email" required >
  </div>
     
  <button type="submit"  class="btn btn-success">Submit</button>
  <a href="../index.html" class="btn btn-success">Cancel</a>
  
</form>
         </div>
          
  </header>
  
    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="../js/vendor/jquery.min.js"></script>
     <!-- Plugin JavaScript -->
    <script src="../js/classie.js"></script>
       
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/vendor/video.js"></script>
    <script src="../js/flat-ui.min.js"></script>
    <script src="../aj/node_modules/angular/angular.js"></script>
    <script src="../aj/app.js"></script>
    <script src="../aj/user_controller.js"></script>
    <script src="../aj/user_service.js"></script>
<script>
      jQuery(document).ready(function($) {  

// site preloader -- also uncomment the div in the header and the css style for #preloader
$(window).load(function(){
	$('#preloader').delay(500).slideUp('slow',function(){$(this).remove();});
});

});</script>
  </body>
</html>
